// Custom.scss
// Option B: Include parts of Bootstrap
// $list-group-bg: yellow;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
// @import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
// @import "../../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
// @import "../../../node_modules/bootstrap/scss/utilities";
// @import "../../../node_modules/bootstrap/scss/reboot";
// @import "../../../node_modules/bootstrap/scss/type";
// @import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
// @import "../../../node_modules/bootstrap/scss/grid";
// @import "../../../node_modules/bootstrap/scss/helpers";
@import "../../../node_modules/bootstrap/scss/list-group";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
// @import "../../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
// $container-max-widths: (
//     sm: 540px,
//     md: 720px,
//     lg: 960px,
//     xl: 1140px,
//     xxl: 1320px
// );
// * {
//     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
// }

.container {
    max-width: 460px;
}

.jurusan-rpl {
    background-image: url('../../../assets/img/bg-rpl.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    font-family: 'Jost', sans-serif;
    // opacity: 0.8;
    // z-index: 0;
}
.jurusan-tkj {
    background-image: url('../../../assets/img/bg-tkj.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    font-family: 'Jost', sans-serif;
}
.jurusan-mm {
    background-image: url('../../../assets/img/bgdkv.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    font-family: 'Jost', sans-serif;
}