<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<table width="100%" border="0" cellpadding="3" cellspacing="0" style="border-bottom:1px solid #000000;">
			<tbody>
				<tr>
					<td width="20%" align="center" valign="top">
						<img src="[LOGO]" width="90px">
					</td>
					<td width="80%" valign="top" align="left" valign="center">
						<br>
						<h1 style="line-height: 5em;">[SCHOOL_NAME]</h1>
						<p>[SCHOOL_STREET_ADDRESS]<br>
						Telp : [SCHOOL_PHONE] &sdot; Fax : [SCHOOL_FAX] &sdot; Kode Pos : [SCHOOL_POSTAL_CODE]<br>
						Email : [SCHOOL_EMAIL] &sdot; Website : [SCHOOL_WEBSITE]</p>
					</td>
				</tr>
			</tbody>
		</table>
		<h3>[TITLE]</h3>
		<table width="100%" border="0" cellpadding="3" cellspacing="0" style="border-bottom:1px dashed #a5a5a5;">
			<tbody>
			<tr>
				<td colspan="3" align="left"><h3>Registrasi [STUDENT_TYPE]</h3></td>
			</tr>
			<tr>
				<td width="35%" align="right">Nomor Pendaftaran</td>
				<td width="5%"  align="center">:</td>
				<td width="60%" align="left">[REGISTRATION_NUMBER]</td>
			</tr>
			<tr>
				<td align="right">Tanggal Pendaftaran</td>
				<td align="center">:</td>
				<td align="left">[CREATED_AT]</td>
			</tr>
			<tr><td align="right">Pilihan I</td><td align="center">:</td><td align="left">[FIRST_CHOICE]</td></tr>
			<tr><td align="right">Pilihan II</td><td align="center">:</td><td align="left">[SECOND_CHOICE]</td></tr>
			<tr>
				<td align="right">Nama Lengkap</td>
				<td align="center">:</td>
				<td align="left">[FULL_NAME]</td>
			</tr>
			<tr>
				<td align="right">Tempat Tanggal Lahir</td>
				<td align="center">:</td>
				<td align="left">[BIRTH_PLACE], [BIRTH_DATE]</td>
			</tr>
			<tr><td align="right">NISN</td><td align="center">:</td><td align="left">[NISN]</td></tr>
			<tr>
				<td align="right">Nama Sekolah Asal</td>
				<td align="center">:</td>
				<td align="left">[PREV_SCHOOL_NAME]</td>
			</tr>
			<tr style="font-weight:bold; border: 1px solid #000000">
				<td width="35%" align="right"> Username</td>
				<td width="5%"  align="center">:</td>
				<td width="60%" align="left">[USERNAME]</td>
			</tr>
			<tr style="font-weight:bold;">
				<td width="35%" align="right">Password</td>
				<td width="5%"  align="center">:</td>
				<td width="60%" align="left">[PASSWORD]</td>
			</tr>
			<tr>
				<td colspan="3"></td>
			</tr>
			</tbody>
		</table>
		<table width="100%" border="0" cellpadding="3" cellspacing="0" style="border-bottom:1px dashed #a5a5a5;">
			<tbody>
			<tr>
				<td colspan="3" align="left"><h3>Registrasi [STUDENT_TYPE]</h3></td>
			</tr>
			<tr>
				<td width="35%" align="right">Nomor Pendaftaran</td>
				<td width="5%"  align="center">:</td>
				<td width="60%" align="left">[REGISTRATION_NUMBER]</td>
			</tr>
			<tr>
				<td align="right">Tanggal Pendaftaran</td>
				<td align="center">:</td>
				<td align="left">[CREATED_AT]</td>
			</tr>
			<tr><td align="right">Pilihan I</td><td align="center">:</td><td align="left">[FIRST_CHOICE]</td></tr>
			<tr><td align="right">Pilihan II</td><td align="center">:</td><td align="left">[SECOND_CHOICE]</td></tr>
			<tr>
				<td align="right">Nama Lengkap</td>
				<td align="center">:</td>
				<td align="left">[FULL_NAME]</td>
			</tr>
			<tr>
				<td align="right">Tempat Tanggal Lahir</td>
				<td align="center">:</td>
				<td align="left">[BIRTH_PLACE], [BIRTH_DATE]</td>
			</tr>
			<tr><td align="right">NISN</td><td align="center">:</td><td align="left">[NISN]</td></tr>
			<tr>
				<td align="right">Nama Sekolah Asal</td>
				<td align="center">:</td>
				<td align="left">[PREV_SCHOOL_NAME]</td>
			</tr>
			<tr>
				<td colspan="3"></td>
			</tr>
			</tbody>
		</table>
		<table width="100%" cellpadding="3" cellspacing="0" border="0">
			<tbody>
			<tr>
				<td align="left">Saya yang bertandatangan dibawah ini menyatakan bahwa data yang tertera diatas adalah yang sebenarnya.</td>
			</tr>
			<tr><td></td></tr>
			<tr align="left">
				<td align="right">[FOOTER_DATE]</td>
			</tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td align="right">[FOOTER_FULL_NAME]</td></tr>
			</tbody>
		</table>
	</body>
</html>